.intro-body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    margin: 5px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.intro {
    padding: 50px;
    margin: 50px;
    font-size: 18px;
    font-weight: 600;
}


.btn
{
    font-family: 'Lato', sans-serif;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.round
{
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.heading
{
	text-align: center;
	font-size: 36px;
	font-family: 'Lato', sans-serif;
}

.subheading
{
	text-align: center;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

.small-text
{
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.border-double
{
	margin-top: 30px;
	/*padding-top: 30px;*/
	margin-bottom: 30px;
	/*padding-bottom: 30px;*/
	border-style: double;
}

.card-small
{	
	margin: 30px;
	padding: 20px;
	border-radius: 20px;
	height: 150px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    transition: 0.3s;
}

.card 
{	
	margin: 30px;
	padding: 20px;
	border-radius: 20px;
	height: 300px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    transition: 0.3s;
}

.header
{
	line-height: 60px;
	text-align: center;
	/*vertical-align: middle;*/
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	position: fixed;
	top: 0;
	width: 100%;
}

/*___Clear night___*/
.night-clear-btn
{
	color: white;
	background-color: #191970;
	opacity: 0.8;
}
.night-clear-bg
{
	background: url("/images/night-clear.jpg");
	background-size: cover;
}
.night-clear
{
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: bold;
}

/*___Sunny___*/
.day-sunny-btn
{
	background-color: #09B7F5;
    color: black;
    opacity: 0.8;
    font-weight: bold;
}
.day-sunny-bg
{
	background: url("/images/day-sunny.jpg");
	background-size: cover;
}

.day-sunny
{
	font-family: 'Lato', sans-serif;
	color: black;
	font-weight: bold;
}

/*____Cloudy____*/
.cloud-btn
{
	color: 	black;
	background-color: #696969;
	opacity: 0.8;
}
.cloud-bg
{
	background: url("/images/cloud.jpg");
	background-size: cover;
}

.cloud
{
	font-family: 'Lato', sans-serif;
	color: black;
	font-weight: bold;
}

/*____Rainy____*/
.rain-btn
{
	color: white;
	background-color: #2F4F4F;
	opacity: 0.8;
}
.rain-bg
{
	background: url("/images/rain.jpg");
	background-size: cover;
}

.rain
{
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: bold;
}


/*____Snowy____*/
.snow-btn
{
	color: #00008B;
	background-color: #87CEFA;
	opacity: 0.8;
}
.snow-bg
{
	background: url("/images/snow.jpg");
	background-size: cover;
}

.snow
{
	font-family: 'Lato', sans-serif;
	color: 	#00008B;
	font-weight: bold;
}