.intro-body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.content {
    text-align: center;
    margin: 20px;
}

.intro {
    padding: 50px;
    margin: 50px;
    font-size: 18px;
    font-weight: 600;
}


.btn
{
    font-family: 'Lato', sans-serif;
    margin: 20px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.round
{
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.heading
{
	text-align: center;
	font-size: 36px;
	font-family: 'Lato', sans-serif;
}

.subheading
{
	text-align: center;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

.border-double
{
	border-style: double;
}

.card-small
{	
	margin: 30px;
	padding: 20px;
	border-radius: 20px;
	height: 150px;
}

.card 
{	
	margin: 30px;
	padding: 20px;
	border-radius: 20px;
	height: 300px;
}


.header
{
	line-height: 60px;
	text-align: center;
	/*vertical-align: middle;*/
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100; /*This makes the navbar on a higher Z plane, so your content scrolls underneath it*/
}

/*___Clear night___*/
.night-clear-btn
{
	color: white;
	background-color: #191970;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.night-clear-bg
{
	background: url("/images/night-clear.jpg");
	background-size: cover;
}
.night-clear
{
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: bold;
}

/*___Sunny___*/
.day-sunny-btn
{
	background-color: #09B7F5;
    color: black;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.day-sunny-bg
{
	background: url("/images/day-sunny.jpg");
	background-size: cover;
}

.day-sunny
{
	font-family: 'Lato', sans-serif;
	color: black;
	font-weight: bold;
}

/*____Cloudy____*/
.cloud-btn
{
	color: 	black;
	background-color: #696969;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.cloud-bg
{
	background: url("/images/cloud.jpg");
	background-size: cover;
}

.cloud
{
	font-family: 'Lato', sans-serif;
	color: black;
	font-weight: bold;
}

/*____Rainy____*/
.rain-btn
{
	color: white;
	background-color: #2F4F4F;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.rain-bg
{
	background: url("/images/rain.jpg");
	background-size: cover;
}

.rain
{
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: bold;
}


/*____Snowy____*/
.snow-btn
{
	color: #00008B;
	background-color: #87CEFA;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.snow-bg
{
	background: url("/images/snow.jpg");
	background-size: cover;
}

.snow
{
	font-family: 'Lato', sans-serif;
	color: 	#00008B;
	font-weight: bold;
}