.intro-body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.intro {
    color: black
    padding: 50px;
    margin: 50px;
    font-size: 18px;
    font-weight: 600;
}

.m-b-md {
    margin-bottom: 30px;
}

.btn
{
	background-color: #09B7F5;
    border: none;
    color: black;
    font-family: "verdana";
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.btn-round
{
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.heading
{
	text-align: center;
	color: black;
	font-size: 30px;
	font-family: verdana;
	text-shadow: 3px 5px 5px #808080

}

.subheading
{
	text-align: center;
	color: black;
	font-size: 20px;
	font-family: verdana;
	text-shadow: 3px 5px 8px #808080
}

.border-full
{
	margin: 30px;
	padding: 50px;
	border-style: double;
}